@font-face{
  font-family: 'Montserrat';
  src: url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
}

$Web-Font: 'Montserrat', sans-serif;
$main-color: #fe7901;
$dark-m-tColor: white;
$dark-m-backGR: #18191a;
$dark-m-widgetColor: #242526;
$dark-m-navigation: #eee;
$dark-m-transition: background-color .3s ease, color .2s ease;


